<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>home</title>
</head>
<body>

 <div class="container">
 	<div class="container">
 		 <form action="/logout" method="post">
           <div><input type="submit" value="выйти"/></div>
        </form>
 	</div>	

 	<div class="container">
 	    <button><a href="/supply">поставки</a></button>
   		<button><a href="/warehouse">склад</a></button>
   		<button><a href="/registration">регистрация</a></button>
   		<button><a href="/login">авторизация</a></button>
	</div>
 </div>

</body>
</html>