<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Поставки</title>
</head>
<body>
    <div class="container">
        <h2>Запись поставок</h2>
        <form action="/supply" method="post" enctype="multipart/form-data">
            <label for="productName">Название товара:</label>
            <input type="text" id="productName" name="productName" required>

            <label for="price">Цена за 1 шт:</label>
            <input type="number" id="price" name="price" required>
            
            <label for="productKol">Количество в (шт):</label>
            <input type="number" id="kol" name="kol" required>
                      
            <select id="productTypeId" name="productTypeId" required>
                <option value="">Выберите тип товара</option>
                <th:block th:each="type : ${productTypesList}">
                <option th:value="${type.id}" th:text="${type.name}"></option>
                </th:block>
            </select>

            <button type="submit">Записать поставку</button>
        </form>
    </div>
</body>
</html>
