<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Склад</title>
</head>
<body>
    <div class="container">
        <h2>Поиск на складе</h2>
        
        <form action="/warehouse" method="post">
            <label for="searchByName">Поиск по названию товара:</label>
            <input type="text" id="searchByName" name="searchByName">
            
            <select id="searchByType" name="searchByType" required>
                <option value=0>Типы товаров:</option>
                <th:block th:each="type : ${productTypesList}">
                <option th:value="${type.id}" th:text="${type.name}"></option>
                </th:block>
            </select>

           
            <button type="submit">Найти товар</button>
        </form>

        <!-- Отображение найденных товаров -->
        
       <div th:if="${foundProducts}">
            <h3>Найденные товары:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Тип</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${foundProducts}">
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${productTypeMap.get(product.typeId).name}"></td>
                        <td th:text="${product.kol}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
